<div class="container pt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="'/'">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" 
        [routerLink]="'/allusers'">All Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="'/user'">Single User</a>
    </li>
  </ul>
</div>


<div class="container pt-3">
  <router-outlet></router-outlet>
</div>